{% extends 'layout.html' %}
{% load static %}

{% block title %}WH40K Ташкент: Права{% endblock %}
{% block content %}
    <div id="left_allrights"></div>
    <div id="main_allrights">
        <h2 id="heading_allrights" class="heading">Все права защищены ©</h2>
        <div style="clear: both"><br></div>
            <div class="contacts">
                <span>Вся информация на данном сайте взята из открытых источников, либо с согласия авторов. Все ссылки на оригиналы указаны.</span><br>
                <br>
                <span>Статья "Про нас" взята с согласия автора Пулата Таджимуратова. Ссылка на первоисточник указана.</span><br>
                <br>
                <span>Все обучающие ролики и видео размещены ссылками на соответствующий канал в Ютубе.</span><br>
                <br>
                <span>Все фотографии взяты с страницы сообщества в ВК</span><br>
                <br>
                <span>Все картинки и арты по вселенной Warhammer 40k взяты из открытых источников</span><br>
                <br>
                <span>Если вы обнаружили какое-либо несоответствие, не спешите рубить с плеча... пожалуйста свяжитесь с разработчиком сайта по электронному почте anhksnick@gmail.com</span><br>
                <br>
                <span>Мы все сможем исправить и урегулировать!</span>
            </div>
            <div style="clear: both"><br></div>
    </div>
    <div id="right_allrights"></div>
{% endblock %}
