{% extends 'layout.html' %}

{% block title %}WH40K Ташкент: Контакты{% endblock %}
{% block content %}
    <div id="left_contacts"></div>
    <div id="main_contacts">
        <h2 id="heading_contacts" class="heading">Контакты</h2>
        <div style="clear: both"><br></div>
            <div class="contacts">
                <span>Создатель сайта Брагин Николай </span><br>
                <br>
                <span>Телефон: +998900383911</span><br>
                <br>
                <span>Электронная почта: anhksnick@gmail.com</span><br>
                <br>
                <span>Телеграм: <a href="https://telegram.me/nickbragin">@nickbragin</a></span><br>

                <br>
                <span> </span>
            </div>
            <div style="clear: both"><br></div>
    </div>
    <div id="right_contacts"></div>
{% endblock %}
