{% extends 'layout.html' %}
{% load static %}

{% block title %}WH40K Ташкент: Обратная связь{% endblock %}
{% block content %}
    <div id="left_feedback"></div>
    <div id="main_feedback">
        <h2 id="heading_feedback" class="heading">Обратная связь</h2>
        <div style="clear: both"><br></div>
            <div class="contacts">
                <span>Если вы нашли ошибки или баги на сайте - пишите разработчику по электронной почте anhksnick@gmail.com</span><br>
                <br>
                <span>Если у вас есть предложения по добавлению разделов или информации на сайт - пишите разработчику по электронной почте anhksnick@gmail.com</span><br>
                <br>
                <span>Если у вас есть гениальная идея - пишите разработчику по электронной почте anhksnick@gmail.com</span><br>
                <br>
                <span>Вместе мы сделаем этот сайт лучше!</span>
            </div>
            <div style="clear: both"><br></div>
    </div>
    <div id="right_feedback"></div>
{% endblock %}
