{% extends 'layout.html' %}
{% load static %}

{% block title %}WH40K Ташкент: Ссылки{% endblock %}
{% block content %}
    <div id="left_links"></div>
    <div id="main_links">
        <h2 id="heading_links" class="heading">Полезные ссылки</h2>
        <div style="clear: both"><br></div>
            <div class="contacts">
                <span>Основной ресурс, где можно посмотреть основные правила, правила своей фракции, даталисты и многое другое: <a href="https://wahapedia.ru/wh40k10ed/the-rules/core-rules/">Wahapedia</a></span><br>
                <br>
                <span>Ссылка на официальный сайт (Core Rules, Rules Commentary, Munitorum Field Manual и т.д.): <a href="https://www.warhammer-community.com/warhammer-40000-downloads/">Warhammer Community</a></span><br>
                <br>
                <span>Ссылка на Своборный Рынок Миниатюр РФ: <a href="https://minifreemarket.com/catalog/games-with-miniatures/warhammer-40000?fg_text=&fi_node=779">СРМ</a></span><br>
                <br>
                <span>Ссылка на наш Ютуб канал: <a href="https://www.youtube.com/channel/UCwdYtcU1h4LNaQWVVajy8Uw">Warhammer 40K UZ YouTube</a></span><br>
                <br>
                <span>Ссылка на ВК страницу нашего сообщества: <a href="https://vk.com/club225088979">Warhammer 40K UZ ВК</a></span><br>
                <br>
                <span>Ссылка на Телеграмм канал: <a href="https://telegram.me/waha_uz_official">Warhammer 40K UZ Телеграм</a></span><br>
                <br>
                <span>Инструкция по заказу хобби через ритейлеров: <a href="https://telegra.ph/Instrukciya-po-zakazu-hobbi-cherez-ritejlerov-07-30">Warhammer 40K UZ Заказы</a></span><br>
                <br>
                <span>Два сайта для заказа из Британии: <a href="https://www.waylandgames.co.uk/">Waylandgames</a>, <a href="https://elementgames.co.uk/">Elementgames</a></span><br>
                <br>
            </div>
            <div style="clear: both"><br></div>
    </div>
    <div id="right_links"></div>
{% endblock %}
