{% extends 'layout.html' %}
{% load static %}

{% block title %}WH40K Ташкент: Реклама{% endblock %}
{% block content %}
    <div id="left_marketing"></div>
    <div id="main_marketing">
        <h2 id="heading_marketing" class="heading">Реклама</h2>
        <div style="clear: both"><br></div>
            <div class="contacts">
                <span>Если вас интересует размещение рекламы пишите разработчику по электронной почте anhksnick@gmail.com</span><br>
                <br>
            </div>
            <div style="clear: both"><br></div>
    </div>
    <div id="right_marketing"></div>
{% endblock %}
