{% extends 'layout.html' %}
{% load static %}

{% block title %}WH40K Ташкент: Еще{% endblock %}
{% block content %}
    <div id="left_something"></div>
    <div id="main_something">
        <h2 id="heading_something" class="heading">Кое-что еще...</h2>
        <div style="clear: both"><br></div>
            <div class="contacts">
                <span>Дополнительный раздел: пригодится или нет, пока не знаю.</span><br>
                <br>
                <span>Жду обратной связи</span><br>
                <br>
            </div>
            <div style="clear: both"><br></div>
    </div>
    <div id="right_something"></div>
{% endblock %}

