{% extends 'layout.html' %}

{% block title %}WH40K Ташкент: Поддержать{% endblock %}
{% block content %}
    <div id="left_support"></div>
    <div id="main_support">
        <h2 id="heading_support" class="heading">Поддержать проект </h2>
        <div style="clear: both"><br></div>
            <div class="contacts">
                <span>Если хотите поддержать проект - пишите разработчику по электронной почте anhksnick@gmail.com</span><br>
                <br>

            </div>
            <div style="clear: both"><br></div>
    </div>
    <div id="right_support"></div>
{% endblock %}
