{% extends 'layout.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div id="left_login"></div>
    <div id="main_login">
        <h2 id="heading_login" class="heading">Вход в личный кабинет</h2>
        <div style="clear: both"><br></div>
        <div class="login">
            <form id="form_login" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="btn_login">Войти</button><br>
            </form>
        </div>
    </div>
    <div id="right_login"></div>
{% endblock %}

