{% extends 'layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div id="left_register"></div>
    <div id="main_register">
        <h2 id="heading_register" class="heading">Регистрация нового пользователя</h2>
        <div style="clear: both"><br></div>
        <div class="register">
            <form id="form_register" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button id="btn_register" type="submit">Регистрация</button><br>
            </form>
        </div>
    </div>
    <div id="right_register"></div>
{% endblock %}
