@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Suez+One&display=swap');

#left_about {
    float: left;
    width: 20%;
                background-color: #eeeeee;
    padding: 0.3%;}
#main_about {
    float: left;
    width: 59.4%;
            background-color: #eeeeee;
    padding: 0.3%;}
#right_about {
    float: left;
    width: 20%;
            background-color: #eeeeee;
    padding: 0.3%;}

#heading_about {
    text-align: center;
    margin-left: 45%;}

.about {
    width: 80%;
    margin-left: auto;          /* выравнивание по центру */
    margin-right: auto;         /* выравнивание по центру */
    padding: 2%;
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    border-radius: 5px;
    border: 1px solid #e3e3e3;}

/*.about>img {
    float: right;
    height: 100px;
    width: auto;}*/

.about>span {
    font-family: 'Roboto Slab', serif;
    font-size: 1.3em;
    color: #333;}

.about_img {
    width: 850px;
    height: auto;}

.about_img_3 {
    width: 270px;
    height: auto;}