@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Suez+One&display=swap');

#left_photo{
    float: left;
    width: 20%;
                background-color: #eeeeee;
    padding: 0.3%;}
#main_photo {
    float: left;
    width: 59.4%;
            background-color: #eeeeee;
    padding: 0.3%;}
#right_photo {
    float: left;
    width: 20%;
            background-color: #eeeeee;
    padding: 0.3%;}

#heading_photo {
    text-align: center;
    margin-left: 35%;}

#photo {
    width: 80%;
    margin-left: auto;          /* выравнивание по центру */
    margin-right: auto;         /* выравнивание по центру */
    padding: 2%;
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    border-radius: 5px;
    border: 1px solid #e3e3e3;}

#photo>img {
    float: left;
    width: 850px;
    height: 600px;}
